.CartOverview th{
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #a7a7a7;
    color: white;
}

#CartOverview {
    border-collapse: collapse;
    width: 100%;
  }
  
  #CartOverview td, #CartOverview th {
    border: 1px solid #ddd;
    padding: 14px;
  }
  
#CartOverview tr:nth-child(even){background-color: #f2f2f2;}
  
#CartOverview tr:hover {background-color: #ddd;}
  