.CartOverview th{
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #dadada;
    color: white;
}

#CartOverview {
    border-collapse: collapse;
    width: 100%;
  }
  
  #CartOverview td, #CartOverview th {
    /* border: 1px solid #ddd; */
    padding: 14px;
  }
  
#CartOverview tr:nth-child(even){background-color: #f3f3f3;}
  
#CartOverview td img{
  max-height: 50px;
}