.Cart{
    border-radius: 10px;
    background-color: #f3f3f3;
    aspect-ratio: 1 / 1;
    display: flex;      
    justify-content: center;
    align-items: center;
}

.Cart img{
    max-width: 100%;
    height: auto;
}

.Bucket {
    text-align: center;
    width: 20px;
    height: 20px;
    border: 5px solid #9b9b9b;
    /* -webkit-transform: perspective(20px) rotateX(-20deg);     */
    border-top: 0;
}