.ProductOverview
    display: flex
    flex-wrap: wrap
    justify-content: center
    max-width: 1080px

#AnimatePresence
    display: flex
    flex-direction: column
    justify-content: center
    max-width: 1080px

.motion.div
    display: flex
    flex-direction: column