.Add{
    background-color: #eaeaea;
    aspect-ratio: 1 / 1;
    border-radius: 50px 20px;

    /* min-width: 40px; */
    padding: 15px;
    
    text-align: center;
    align-self: flex-end;
    /* justify-content: flex-end; */
    /* position: absolute; */
    cursor: pointer;
}

.Add:hover{
    background-color: #c2c2c2;
}