.Footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #b8ff88;
    width: 100%;
    min-height: 200px;
    height: 100%;
    text-align: center;
    position: sticky;
    top: 100vh;
}