.Product {
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    aspect-ratio: 1 / 1;
    width: 50%;

    max-width: 250px;
    /* height: 300px; */
    /* width: 250px; */
    /* padding: 25px; */
    margin: 10px;
    font-size: 16px;
    background-size: 300% 100%;

    moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

.ProductContent{
    padding: 25px 25px 0px 25px;
}

.Product img{
    display: block;
    max-height: 125px;
    /* width: 100%; */
    height: auto;
    width: auto;
    margin: auto;
}

.Product:hover {
    background-position: 100% 0;
    /* moz-transition: all .4s ease-in-out; */
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

.Product.color {
    /* background-image: linear-gradient(to right, #a7ffd9, #4ff1bd, #3ff89e, #2ade87); */
    box-shadow: 0 4px 15px 0 rgba(211, 211, 211, 0.75);
}