.Product {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    border-radius: 20px;
    /* border: 2px solid; */
    /* width: 150px; */
    aspect-ratio: 1 / 1;
    /* height: auto; */
    /* display: flex; */
    /* justify-content: center; */
    max-width: 200px;
    padding: 25px;
    margin: 10px;
    font-size: 16px;
    background-size: 300% 100%;

    /* moz-transition: all .4s ease-in-out; */
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

.Product img{
    max-width: 100%;
    height: auto;
}

.Product:hover {
    background-position: 100% 0;
    /* moz-transition: all .4s ease-in-out; */
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

.Product.color {
    /* background-image: linear-gradient(to right, #a7ffd9, #4ff1bd, #3ff89e, #2ade87); */
    box-shadow: 0 4px 15px 0 rgba(211, 211, 211, 0.75);
}