.ProductInfo {
    display: flex;
    max-width: 800px;
    padding: 5px;
    height: auto;
    flex-shrink: 2;
}

#Title{
    display: flex;
    justify-content: space-between;
}

#ProductImage{
    min-width: 50%;
}

.ProductInfo img{
    display: flex;
    margin: auto;
    width: 90%;
    height: auto;
}

.NutritionInfo th{
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #dadada;
    color: white;
}

#Details{
    width: 50%;
}

#NutritionInfo {
    border-collapse: collapse;
    width: 48%;
    margin-left: 2%;
}
  
  #NutritionInfo td, #NutritionInfo th {
    /* border: 1px solid #ddd; */
    padding: 10px;
  }
  
#NutritionInfo tr:nth-child(even){background-color: #f3f3f3;}
  
#NutritionInfo td img{
  max-height: 50px;
}