.Navbar{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    padding: 10px;
    margin: 0;
    background: #88FFD5;
    position: -webkit-sticky;
    position: sticky;
    top: -1px;
    z-index: 100;
}